#!/bin/bash

# Note cannot set permissions recursively.
mkdir -m 700 "$HOME"/.stymie.d
mkdir -m 700 "$HOME"/.stymie.d/s

cp scripts/stymie.json.default "$HOME"/.stymie.d/stymie.json

# Uncomment the following and edit if .stymie.d is installed outside of $HOME.
#echo "export STYMIE=/path/to/.stymie.d" >> "$HOME"/.bash_profile

# The following is highly recommended!!!
# Prevent stymie commands from appearing in bash command history.
#echo 'export HISTIGNORE="stymie *:$HISTIGNORE"' >> "$HOME"/.bash_profile

. "$HOME"/.bash_profile

